

<span style="float: left;"><h2> Welcome back,<%= current_user.email %></h2></span><span style="float: right"> Want to <%= link_to "Create a New Album" , new_album_path %></span>

<br/><br/>
<hr/>
<br/><br/>
<% if current_user.albums.empty? %>

  <i>You Have 0 Albums.</i>
  <br/><br/>
  
  <%= link_to "Create a New Album", new_album_path %>
  
<% else %>

  <i>You Have <%= current_user.albums.count %> Albums.</i>
  <br/><br/>
  Click on Albums to View/Edit them.
  <br/><br/>
  <br/><br/>
  
<% end %>
<hr/>
<br/><br/>

<% if @tags.empty? %>
    No Tags
    <% else %>
     Tags:
     <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag,'#', :class => css_class %>
      <% end %>
     <% end %> 
  <br/><br/>
  
