<% content_for :content do %>
  <h2><%= @album.album_name %></h2><br/>
  <hr/><br/><br/>
   
  <span style="float :right;"><%= link_to 'Edit', edit_album_path(@album) %>&nbsp;&nbsp;
  <%= link_to 'Back', albums_path %></span>&nbsp;&nbsp; <%= link_to "Click to Add Photos","#",:onclick => "add_pic();" %>
  <br/><br/>
  
  
  <% if @album.photos.empty? %>
    There are no Photos present.
  <% else %>
   <div id="gallery">
       <ul style="list-style:none;">
          <% @album.photos.each do | photo | %>
              <li style="float: left;padding: 20px;"><%= link_to image_tag(photo.image.url(:medium)),photo.image.url %></li>
           <% end %>
       </ul>
     </div>

   
  <% end %>



  <div id="add_ph" style="display:none;z-index:1000;border: 1px solid;padding:56px;top:200px;width: 600px;height:auto;position: absolute;background: black;" %>
      <%= render "add",:object => @album %>
  </div>

  
  
<% end %>
